[user]
	name  = "Ryota Takeuchi"
	email = ryouta.takeuti@gmail.com

[core]
  editor = vim

[color]
  ui = auto

[alias]
  s = status
  a = add
  c = commit -v
  co = checkout
  cof = !git branch | fzf | xargs git checkout
  d = diff
  l = log
  graph = log --graph --decorate --oneline
[push]
  default = matching
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[init]
  templatedir = ~/dotfiles/git_template
