[user]
  name  = "Ryota Takeuchi"
  email = ryouta.takeuti@gmail.com

[core]
  editor = vim
  pager = delta
  excludesfile = ~/.gitignore_global
  quotepath = false

[color]
  ui = auto

[alias]
  s = status
  a = add
  c = commit -v
  co = checkout
  cof = !git branch | fzf | xargs git checkout
  sw = switch
  swf = !git branch | fzf | xargs git switch
  d = diff
  l = log
  b = branch
  graph = log --graph --decorate --oneline
[push]
  default = matching
[fetch]
  prune = true
[diff]
  tool = vimdiff
  colorMoved = dimmed-zebra
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[init]
  templatedir = ~/dotfiles/git_template
[ghq]
  root = ~/dev/src
[pull]
  rebase = true

; for delta
[delta]
  features = decorations
  plus-style = 'syntax auto'
  minus-style = 'syntax auto'
  syntax-theme = Monokai Extended
[interactive]
  diffFilter = delta --color-only
[delta "decorations"]
  file-decoration-style = bold blue box ul
  commit-decoration-style = bold yellow box ul

[include]
  path = ~/dotfiles-local/.gitconfig

[includeIf "gitdir:~/dotfiles/.git"]
  path = ~/dotfiles/.gitconfig.local
